---
layout: default
refactor: true
---

<h1>About Me </h1>

Hi! I'm William Mattingly, Ph.D.. I'm a digital nomad, NLP engineer, YouTuber, and public speaker. I focus on the ethical applications of machine learning in the Smithsonian Institution's Data Science Lab. I work and speak globally, mostly in South Africa, Europe, and the United States.

<h1>Awards and Funded Projects</h1>
- NLP Engineer for the Melon-funded (2024-2025) project 92 NY.
- Harry Frank Guggenheim co-fellow (2021-2022) for <i></i>The Bitter Aloe Project</i>.<br>
- Twice ACLS-funded fellow (2023-2024 | 2024-2025) for the <i>Personal Writes the Political Project</i>.<br>
- NLP engineer and data scientist for the NEH-funded <i>Placing the Holocaust</i>.<br>


<h1>Current Projects </h1>

